.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar {
  margin-bottom: 0;
  background-color: green;
  z-index: 9999;
  border: 0;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  border: 1px solid #f4511e;
}

.navbar .nav-item .nav-link,
.navbar>a.navbar-brand {
  color: white;
}

nav div ul li a.nav-link{
 color: white;
}

nav>a.nav-link {
  color:white;
  background-color: green;
  margin-top:2px;
}

.card {
  border-color: green;
}

.card-header,
.card-body {
  white-space: normal;
}


nav>.nav-link {
  display: inline-flex;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  #webplan>.nav-item>.nav-link {
    font-size: small;
  }

  #mobplan>.nav-item>.nav-link {
    font-size: small;
  }

  /* .scrollrows {
  white-space: nowrap;
  overflow: auto;
} */

  /* .scrollrows .card {
  display:inline-flex;
  margin: auto;
  border-color: green;
} */
}

nav.scrollmenu{
  z-index: 999; 
  text-decoration: none; 
  overflow: auto; 
  white-space: nowrap; 
  position: -webkit-sticky; 
  position: sticky; 
  top:0
}
